.ProductPreviewItem {
  width: 22%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  &:hover {
    opacity: 0.8;
    Button {
      display: block;
    }
  }

  .Image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .CollectionFooter {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .Name {
      width: 90%;
      margin-bottom: 15px;
    }

    .Price {
      width: 10%;
    }
  }
}
